<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <link href='/favicon.ico' rel='icon' type='image/x-icon' />
    <link href='/assets/stylesheets/application.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <h1>Real Time Todo List</h1>
    <ul id="todo-list">
      <li class="todo-item"><div class="col"></div><div class="col"></div></li>
      <li class="todo-item done"><div class="col"><div class="checkbox"></div></div><div class="col">Some neat todo item</div></li>
      <li class="todo-item done"><div class="col"><div class="checkbox"></div></div><div class="col">Some neat todo item</div></li>
      <li class="todo-item"><div class="col"><div class="checkbox"></div></div><div class="col">Some neat todo item</div></li>
      <li class="todo-item"><div class="col"><div class="checkbox"></div></div><div class="col">Some neat todo item</div></li>
      <li class="todo-item"><div class="col"><div class="checkbox"></div></div><div class="col">Some neat todo item</div></li>
      <li class="todo-item"><div class="col"><div class="checkbox"></div></div><div class="col">Some neat todo item</div></li>
      <li class="todo-item"><div class="col"><div class="checkbox"></div></div><div class="col">Some neat todo item</div></li>
      <li class="todo-item"><div class="col"></div><div class="col"></div></li>
    </ul>
    <form>
      <input type="text" value="">
      <button>Cancel</button>
      <button>Save Item</button>
      <div class="clear"></div>
    </form>
  </body>
</html>
