* {
  margin: 0;
  padding: 0;
}

html {
  background: #fef;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #aaa;
}

.clear {
  clear: both;
}

h1 {
  font-size: 18px;
  margin: 20px auto;
  width: 500px;
}

h2 {
  font-size: 16px;
  margin: 20px auto;
  width: 500px;
}

.todo-list {
  width: 500px;
  margin: 20px auto;
  border: 1px solid #aaa;
  border-radius: 3px;
  list-style: none;
  box-shadow: 2px 2px 2px #ddd;
  position: relative;
}

.todo-list:after, .todo-list:before {
  content: ' ';
  position: absolute;
  display: block;
  bottom: 0;
  border: 1px solid #bbb;
  height: 1px;
  width: 100%;
  border-raidus: 9px;
  background: #fff;
}

.todo-list:before {
  bottom: 2px;
  width: 99%;
}

.todo-list:before {
  bottom: -2px;
  width: 99%;
  box-shadow: 2px 2px 2px #ddd;
}

.todo-item {
  border-bottom: 1px solid #ccf;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
}

.todo-item.selected {
  background: #dff;
}

.todo-item .checkbox:after {
  content: ' ';
  display: inline-block;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.todo-item.completed div.checkbox:after {
  content: '\2714';
}

.todo-item:last-child {
  border-bottom: 0;
}

.completed .col {
  text-decoration: line-through;
}

.col {
  display: inline-block;
  width: 420px;
  line-height: 20px;
}

.col:first-child {
  border-right: 4px double #fcf;
  margin-right: 5px;
  width: 30px;
  text-decoration: none;
}

.col:last-child {
  width: 30px;
  text-decoration: none;
}

.checkbox {
  background: #fff;
  display: block;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: #fcf;
  margin: 5px;
  cursor: pointer;
}

.edit-item {
  width: 100%;
}

.remove-item {
  display: none;
}

.selected .remove-item {
  display: block;
  width: 100%;
}

.remove-item:after {
  content: 'x';
  display: block;
  text-align: right;
  font-style: normal;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  color: #bbb;
}

form {
  margin: 20px auto;
  width: 500px;
}

input {
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px #ddd;
  min-height: 35px;
  border-radius: 3px;
  font-size: 14px;
  width: 490px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0 5px;
  color: #888;
  transition: box-shadow 0.2s ease-in-out;
}

input:hover {
  box-shadow: 0px 0px 10px #dbd;
}

button {
  float: right;
  box-shadow: 2px 2px 2px #ddd;
  border: 1px solid #aaa;
  color: #888;
  background: #fff;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  line-height: 35px;
  font-size: 14px;
  min-width: 90px;
  font-weight: bold;
  font-family: sans-serif;
  transition: color 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

button:after {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 6px;
  content: ' ';
  display: block;
  background: #ddd;
  transition: background 0.1s ease-in-out;
}

button:hover {
  color: #bbb;
  background: #eee;
}

button:hover:after {
  background: #eee;
}

.cancel-item, .save-item {
  display: none;
}
